


header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 100%;
    
}

.option{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    background-color: rgba(207, 204, 178, 0.5);
    border-radius: 10px;
    padding: 0%;
    
    display: flex;

    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.bntagg{
    border-radius: 10px;
}

p{
    margin: 0%;
}
 
#actividades{
    display: flex;
    width: 70%;
    min-height: 350px;
    background-color: rgba(15, 222, 236, 0.8);
    border-radius: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

#optionBtn{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}



#btnComplete{
    background-color: green;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 30px !important;
    height: 20px !important;
    margin: 0%;
    padding: 0%;
}


.btn-completed {
    background-color: green;
}
.q-pa-sm{
    background-color: rgba(38, 35, 54, 0.5);
    border-radius: 15px;
    border: 1px;
    margin: 5px;
    gap: 5px;
    align-items: center;
    justify-content: center;

}
.q-td{
    align-items: center;
    justify-content: center;

}
@media (max-width: 800px) {
    #actividades{
        display: flex;
        width: 600px;
        min-height: 350px;
        background-color: rgba(15, 222, 236, 0.8);
        border-radius: 50px;
        text-align: center;
        align-items: center;
        justify-content: center;
        
    }
}
@media (max-width: 600px) {
    #actividades{
        display: flex;
        width: 100%;
        min-height: 350px;
        background-color: rgba(15, 222, 236, 0.8);
        border-radius: 50px;
        text-align: center;
        align-items: center;
        justify-content: center;
        
    }
}