.q-pa-md{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0%;
}


.q-form{
    background-color: rgba(15, 222, 236, 0.8);
    padding: 10px;
    border-radius: 7px;
    width: 80%;
    margin: 0%;
}
.q-gutter-md{
    color: black;
}
